@import '../custom';

.hero {
  padding: 5rem 0;
  background-color: $gray-accents-4;
  background-image: url(/assets/images/blob.svg);
  background-size: 300%;
  background-position: 63% 170%;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 768px) {
    background-size: 90%;
    background-position: -250% 95%;
  }

  @media (min-width: 1400px) {
    background-position: -250% 92%;
  }
}

.img-wrapper {
  font-family: $poppins;

  .img-teacher {
    background-color: $yellow-accents-3;
    border-radius: 50%;
    z-index: 4;
    width: 350px;
  }

  .floating-desc {
    position: absolute;
    background-color: white;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 5px 8px 5px 0px rgba(4, 4, 4, 0.24);

    &--1 {
      top: 1.8rem;
      right: 0;

      @media (min-width: 1200px) {
        top: 2.5rem;
        right: 10%;
      }

      @media (min-width: 1400px) {
        right: 15%;
      }
    }

    &--2 {
      top: 50%;
      left: 0;

      @media (min-width: 1200px) {
        left: 20%;
      }

      @media (min-width: 1400px) {
        left: 25%;
      }
    }

    &--3 {
      bottom: -5%;
      right: 0;

      @media (min-width: 1200px) {
        right: 20%;
      }
    }
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  .arrow-down {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 0.5;

    &-1 {
      bottom: -5%;
      border-top: 25px solid $red-accents-1;
    }

    &-2 {
      bottom: -8.5%;
      border-top: 25px solid $secondary;
    }

    &-3 {
      bottom: -12%;
      border-top: 25px solid $primary;
    }
  }
}

.title {
  font-family: $quicksand;
  font-weight: bold;
  font-size: 36px;

  @media (min-width: 1200px) {
    font-size: 48px;
  }

  span:nth-child(odd) {
    color: $primary;
  }

  span:nth-child(2) {
    color: $red-accents-1;
  }

  span:nth-child(4) {
    color: $secondary;
  }

  &-details {
    margin-top: 1rem;
    font-family: $poppins;

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
}
