@import '../custom';

.lesson {
  padding: 1rem;
  background-color: $gray-accents-4;

  .card {
    border-radius: 10px;
    padding: 0;
    font-family: $poppins;

    img {
      background-color: $primary;
      border-radius: 10px 10px 0 0;
    }

    &-link {
      text-decoration: none;
    }
  }
}
