@import '../custom';

.strength {
  background-color: $red-accents-4;
  padding: 2rem 0;
}

.subtitle {
  font-family: $quicksand;
  font-weight: bold;
  text-align: center;
  font-size: 32px;

  @media (min-width: 1200px) {
    font-size: 40px;
  }

  span:nth-child(odd) {
    color: $primary;
  }

  span:nth-child(2) {
    color: $red-accents-1;
  }

  span:nth-child(4) {
    color: $secondary;
  }

  span:nth-child(6) {
    color: $red-accents-1;
  }
}

.content-wrapper {
  padding: 1rem;
  font-family: $poppins;

  .content {
    @media (min-width: 1200px) {
      margin: 0.5rem 0;
    }

    h3 {
      font-size: 18px;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }

    p {
      font-size: 12px;
    }
  }
}

.achievement-wrapper {
  background-color: $primary;
  padding: 1rem 1rem;
  font-family: $poppins;
  border-radius: 10px;

  @media (min-width: 1024px) {
    padding: 1rem 2rem;
  }

  .achievement {
    color: white;

    span {
      color: $secondary;
    }

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
}
