@import '../custom';

.welcome {
  background-color: $gray-accents-4;

  @media (min-width: 768px) {
    padding-top: 2rem;
  }

  @media (min-width: 1024px) {
    padding-top: 4rem;
  }
}

.left-w-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.learn-more-btn {
  width: 180px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.welcome-details {
  color: rgb(0, 0, 0, 0.6);

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}
