@import '../custom';

.navbar {
  background-color: $primary;
  z-index: 100;

  &-nav {
    font-family: $poppins;
    gap: 0.5rem;
  }
}

.nav-btn {
  width: 100px;
  border-radius: 50px;
  text-align: center;

  &-primary {
    color: white !important;
    background-color: $purple-accents-2;
    border: 1px solid white !important;
  }

  &-secondary {
    color: black !important;
    background-color: $secondary;
  }
}
